@import 'mixins';
@import 'variables';

.button {
    min-height: 2em;
    min-width: 6em;
    border-radius: 10px;
    border: 1px solid $eb-border;
    background-color: $eb-accent;
    color: $eb-text-color;

    &:hover {
        text-decoration: none;
        background-color: $eb-accent;
    }

    &:active, &:visited {
        text-decoration: none;
        color: $eb-text-color;
    }
}

h1, h2, h3, h4, h5, h6, p {
    color: $eb-text-color;
}

p {
    @include font-size($p-font-sizes);
}


.page {
    background-color: whitesmoke;

    p, h1, h2, h3, h4, h5, h6 {
        color: $eb-text-color;
    }

    .nav-bar {
        background-color: $eb-base-blue;
        min-height: 4em;

        * {
            background-color: $eb-base-blue;
        }

        h4, a {
            color: whitesmoke;
            font-weight: 700;
            &:hover {
                text-decoration: none;
            }
        }

        .brand-name {
            margin-left: 4em;
        }
    }
}