$button-outline: white;

/* HOME PAGE */
$header-home-font-family: 'Abril Fatface', cursive;
$quick-connect-home-font-family: 'Montserrat', sans-serif;
$about-home-font-family: 'Slabo 27px', serif;

$home-blue: #1C6BA0;
$home-light-blue-green: #C5E3BF;
$home-gray-green: #F0F0F0;

$linkedin-blue: #069;
$facebook-blue: rgb(58, 87, 149);
$twitter-blue: #55acee;
$soundcloud-orange: rgb(255, 85, 0);
$googleplus-red: #d73d32;
