@import 'settings';
@import 'foundation-apps/scss/foundation';
@import 'shared';
@import 'variables';
@import 'mixins';

.about-page {
    * {
        background-color: whitesmoke;
    }

    p, h1, h2, h3, h4, h5, h6 {
        color: $eb-text-color;
    }

    .nav-bar {
        background-color: $eb-base-blue;

        * {
            background-color: $eb-base-blue;
        }

        min-height: 4em;

        h4, a {
            color: whitesmoke;
            font-weight: 700;
            &:hover {
                text-decoration: none;
            }
        }

        .brand-name {
            margin-left: 4em;
        }
    }

    .about-page-content {
        padding-left:4em;
        max-width: 100%;
        overflow-x:hidden;
    }

    .connect-title {
        margin-bottom: 2em;
    }

    .item-block {
        margin-bottom: 2em;

        .item-block-content {
            border-left: 3px solid $eb-base-light;

            .grid-block {
                padding-left: 1em;
            }

            p {
                margin-right: 1em;
            }

            .button {
                background-color: whitesmoke;

                &:hover {
                    background-color: $eb-accent;
                }
            }
        }
    }

    .about-image {
        vertical-align: right;
        height: 250px;
        width: 250px;
        border-radius: 30% 0;
    }
}
