@import 'variables';

.connect-page {

    .header {
        width: 100%;
        margin-bottom: 0;

        .connect-title {
            font-size: 5em;
            z-index: 1;
            position: absolute;
        }

        .connect-image {
            width: 500px;
            height: 500px;
            background-repeat: no-repeat;
            background-image: url('https://source.unsplash.com/jLwVAUtLOAQ/400x500');
            z-index: 0;
        }
    }

    .footer {
        height: 3em;
        border: 1px solid black;
        background-color: yellow;
    }

    .content-divider {
        height: 2em;
        border: 1px solid black;
        background-color: yellow;
        margin-bottom: 2em;
    }

    .bubble-row {

        margin-bottom: 2em;

        .bubble-container {
            // add blue on hover?

            .bubble-item {
                padding: 1em;
                max-width: 200px;
                min-height: 200px;
                border-radius: 50%;
                background-color: white;
                border: 1px solid black;
            }
        }
    }
}
