@import 'settings';

@import 'foundation-apps/scss/foundation';

@import 'variables';

.connect-page {
    background-image: url('../images/textures/gray_jean.png');
    font-family: $app-font-family;
    overflow-x: hidden;

    .footer {
        background-color: white;
        color: black;
        border-top: 1px solid #A9A9A9;
        margin-top: 16px;
        padding-top: 16px;
        padding-left: 16px;
        p {
            font-size: 10px;
        }
        a {
            text-decoration: none;
        }

        .info-paragraph {
            p {
             font-color: black;
            }
        }
    }

    .action-buttons {
        margin-top: 5%;
        @include breakpoint(medium) {
            text-align: center;
        }
    }

    .button-glass {
        border: 2px solid $home-blue;
        color: $home-blue;
        width: 75%;
        margin-top: 8px;
        background: none;
    }

    .connect-container {
        padding-top: 2rem;

        .card {
            .icon {
                margin-right: 1rem;
            }
            .LinkedIn {
                .btn, .icon{
                    border-color: $linkedin-blue;
                    color: $linkedin-blue;
                }
            }

            .Twitter {
                .btn, .icon{
                    border-color: $twitter-blue;
                    color: $twitter-blue;
                }
            }

            .SoundCloud {
                .btn, .icon{
                    border-color: $soundcloud-orange;
                    color: $soundcloud-orange;
                }
            }

            .Spotify {
                .btn, .icon{
                    border-color: $spotify-green;
                    color: $spotify-green;
                }
            }
        }
    }
}
