@import 'settings';
@import 'foundation-apps/scss/foundation';
@import 'shared';
// @import 'variables';

.contact-page {
    background-color: white;
    overflow-y: hidden;

    .title {
    	height: 5rem;
    }

    .block-content {
    	padding-left: 1rem;
    }
}
