.page-section {
    margin: 2rem;
    padding: 2rem;
}

.facebook-file-dropbox {
    border: 3px dashed black;
    margin: 2rem;
    padding: 2rem;
}

.facebook-file-explainbox {
    border: 3px solid black;
    margin: 2rem;
    padding: 2rem;
}
