@import 'variables';

.past-projects-page {

    h1, h2 {
       font-family: $header-home-font-family;
    }

    p {
        font-family: $about-home-font-family;
        font-size: 1.1rem;
    }

    .about-button {
        // TODO: move this color into variable
        border-color: #007acc;
        color: #007acc;
        &:hover, &:link{
            color: black;
            border-color: black;
            background: none;
            text-decoration: none;
        }
    }

    .header {
        padding-top: 4em;
        padding-bottom: 4em;
        margin: 0;

        background-color: #F0FFF0;
        text-align: center;

        .name {
            display: inline-block;
            padding-right: 2em;
            padding-left: 2em;
            text-align: center;
            border-bottom: 4px solid black;
        }
    }

    .quick-connect {
        background-color: #F0F0F0;
        padding: 0.5em 4em 0.5em 4em;

        .info {
            float: left;
        }

        .connect {
            float: right;
        }

        p {
            display: inline;
            margin: 0;
            font-family: $quick-connect-home-font-family;
            font-size: 10px;
            font-weight: 700;
        }

        i {
            font-size: 16px;
            padding-right: 0.3em;
        }

        .faint {
            display: inline-block;
            padding-left: 1em;
            font-weight: 100;
            margin: 0;
            a {
                color: inherit;
            }
            .city {
                padding-left:0.2em;
            }
        }
    }
}
