@import 'settings';

@import 'foundation-apps/scss/foundation';

@import 'variables';

.past-projects-page {

    background-image: url('../images/textures/gray_jean.png');
    
    h1, h2 {
       font-family: $header-home-font-family;
    }

    p {
        font-family: $app-font-family;
    }

    .past-container {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;

        @include breakpoint(medium) {
            margin-top: 2rem;
            margin-left: 4rem;
            margin-right: 4rem;
        }

        .card-section p {
            font-size: 14px;
        }
    }
}
