@import 'settings';
@import 'foundation-apps/scss/foundation';
@import 'shared';
@import 'variables';
@import 'mixins';

.projects-page {
    background-color: $body-background;
    * {
        background-color: $body-background;
    }

    .projects-title {
        width: 100%;
        margin-top: 3em;
        margin-bottom: 2em;

        p {
            margin: 0;
            padding: 0;
            color: $eb-text-color;
        }        

        h1 {
            margin: 0;
            padding: 0;
            color: $primary-color;
        }

        h1 {
            line-height: 75%;
            display:inline-block;
        }

        p {
            font-size: 0.75em;
        }

        .active-title {
            margin-left: 4em;

            .button {
                float: right;
                display: inline;
            }
        }
    }

    .projects-image-header {
        img {
            max-height: 20em;
            margin-bottom:5em;
        }
    }

    .project-cards {
        .card {
            max-width: 30em;
            margin: 2em;

            .card-divider {
                font-family: 'Roboto Condensed', sans-serif;
                background-color: $secondary-color;
            }

            .active-header {
                font-weight: 700;
                text-decoration: underline;
                background-color: $secondary-color;
                float: right;
            }

            .card-section {
                height: 100%;
            }
        }
    }
}
