@import 'settings';
@import 'foundation-apps/scss/foundation';
@import 'shared';
@import 'variables';

.simple-home {
    background-color: $body-background;
    overflow-y: hidden;

    p {
        color: $body-font-color;
    }

    .element {
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include breakpoint(medium) {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
    .email {
        margin: auto;
        color: $subheader-font-color;
    }

    .splash-block { 
        background-image:url('https://source.unsplash.com/HAKTHWgeDWE/400x400');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 120px;
        z-index:10;

        @include breakpoint(medium) {
            height:400px;
        }
    }

    .color-block {
        background-color: $primary-color;
        height: 50px;
        width:100%;
        margin-top: 30px;

        @include breakpoint(medium) {
            height:125px;
        }
    }

    .businesscard-block {
        h1 {
            margin:auto;
            margin-bottom: 1rem;
            color: $header-font-color;
        }
        
        p {
            font-size: 18px;
            width: 100%;
        }
    }

    .page-link {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
