@import 'settings';
@import 'foundation-apps/scss/foundation';
@import 'variables';
@import 'mixins';

.workspace-page {

	h1 {
		color: $eb-text-color;
	}

	h2, h3, h4, h5, h6, p {
		color: $eb-text-color;
	}

	.button {
		min-height: 2em;
		min-width: 6em;
		border-radius: 10px;
		border: 1px solid $eb-border;
		background-color: $eb-accent;
		color: $eb-text-color;

		&:hover {
			text-decoration: none;
			background-color: $eb-accent;
		}
	}

	.desktop-only {
		display: none;

		@include breakpoint(large) {
			display: block;
		}
	}

	.desktop-middle-only {
		display: none;

		@include breakpoint(medium) {
			display: block;
		}		
	}

	p {
		@include font-size($p-font-sizes);
	}

	.header-block {

		.name-block {
			background-color: $eb-base-blue;
			height: 45%;

			.name-title {
				width: 100%;
			}

			.more-button {
				border: 1px solid $eb-border;
				background-color: $eb-base-blue;

				&:hover {
					background-color: $eb-accent;
				}
			}
		}

		.project-block {
			background-color: $eb-base-light;

			.project-title {
				border: 1px solid $eb-border;
				padding: 0.5em;
			}

			.project-detail-button {
				border-radius: 10px;
				border: 1px solid $eb-border;
				background-color: $eb-base-light;
				color: $eb-text-color;
				padding: 0.5em;

				&:hover {
					background-color: $eb-accent;
				}
			}

			.project-more-button {
				float: left;

				@include breakpoint(medium) {
					float: right;
				}
			}

			.what {
				overflow-y: inherit;
			}
		}
	}

	.splash-block {
		background-image: url('https://source.unsplash.com/HGzfUfk65uo'); 
		background-repeat: no-repeat;
		background-size: 100% 100%;

		h1 {
			color: white;
			
			span {
				font-size:1.5em;
			}
		}

		.contact-link {
			color: white;
			margin: 2em;
			text-align: right;
		}

		.tagline-title {
			width: 100%;
		}
	}

	.text-block {
		background-color: $eb-base-light;
		padding: 1em;
	}

}

