<div class="connect-page" id="connect-page">

    <site-header title="Connect"></site-header>

    <div class="connect-container grid-container">
        <div class=" grid-block small-up-2 medium-up-3">
            <div class="grid-content" ng-repeat="item in connectVm.socialItems">
                <div class="card">
                    <div class="card-section text-center {{item.NAME}}">
                        <h4><i class="icon fa {{item.ICON}}"></i>{{item.NAME}}</h4>
                        <p>{{item.USERNAME}}</p>
                        <a type="button" class="btn btn-default" href="{{item.LINK}}" target="_blank">{{item.LINK_TEXT}}</a>
                        <p>
                        </p>
                        <p class="more-info">
                            <span ng-if="item.STATS" ng-repeat="stat in item.STATS">{{stat}}<br/></span>
                        </p>
                        <p class="keywords">
                            <span ng-if="item.KEYWORDS" ng-repeat="keyword in item.KEYWORDS">{{keyword}}<br/></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-xs-1">
            <p>
                Site Map<br>
                <a ui-sref="eb.home">Home</a><br>
                <a ui-sref="eb.past-projects">Past Projects</a><br>
            </p>
        </div>
         <div class="col-xs-11">
            <p>
                Erika Burdon. 2015. All Rights Reserved<br><br>
                <whats-interesting-directive 
                    text="connectVm.whatsInteresting">
                </whats-interesting-directive>
            </p>
        </div>
    </div>
</div>
