<div class="connect-page" id="connect-page">

    <site-header title="Connect"></site-header>

    <div class="connect-container grid-container">
        <div class=" grid-block small-up-2 medium-up-3">
            <div class="grid-content" ng-repeat="item in connectVm.socialItems">
                <div class="card">
                    <div class="card-section text-center {{item.NAME}}">
                        <h3><i class="icon fa {{item.ICON}}"></i>{{item.NAME}}</h3>
                        <p>{{item.USERNAME}}</p>
                        <a type="button" class="btn btn-default" href="{{item.LINK}}" target="_blank">{{item.LINK_TEXT}}</a>
                        <p>
                        </p>
                        <p class="more-info">
                            <span ng-if="item.STATS" ng-repeat="stat in item.STATS">{{stat}}<br/></span>
                        </p>
                        <p class="keywords">
                            <span ng-if="item.KEYWORDS" ng-repeat="keyword in item.KEYWORDS">{{keyword}}<br/></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer grid-block">
        <div class="grid-block medium-3">
            <ul>
                <li>SITE MAP</li>
                <li><a ui-sref="eb.home">Home</a></li>
                <li><a ui-sref="eb.past-projects">Past Projects</a></li>
                <li><a ui-sref="eb.crystalBall">Crystal Ball</a></li>
            </ul>
        </div>
        <div class="grid-block medium-9"><p>Erika Burdon. 2016. All Rights Reserved.</p></div>
    </div>
</div>
