<!-- Page built with bootstrap grid framework -->
<div class="connect-page container-fluid" id="connect-page">
    <div class="row header">
        <div class="connect-title col-md-offset-3">Get in Touch!</div>
        <p class="connect-subtitle col-xs-offset-7">... I'd love to chat</p>
    </div>

    <div class="content-separator"></div>

    <div class="row bubble-row">
        <div class="bubble-container col-sm-3 col-sm-offset-2 col-md-offset-0 col-xs-offset-1 col-xs-12" ng-repeat="item in firstRow">
            <div class="bubble-item" ng-switch="item.network">
                <div class="bubble-content bubble-email" ng-switch-when="Email"><email-bubble info="item"></email-bubble></div>
                <div class="bubble-content bubble-github" ng-switch-when="GitHub"><github-bubble info="item"></github-bubble></div>
                <div class="bubble-content bubble-linkedin" ng-switch-when="LinkedIn"><linkedin-bubble info="item"></linkedin-bubble></div>
                <div class="bubble-content bubble-soundcloud" ng-switch-when="SoundCloud"><soundcloud-bubble info="item"></soundcloud-bubble></div>
            </div>
        </div>
    </div>

    <div class="row bubble-row">
        <div class="bubble-container col-sm-3 col-sm-offset-2 col-md-offset-0 col-xs-offset-1 col-xs-12" ng-repeat="item in secondRow">
            <div class="bubble-item" ng-switch="item.network">
                <div class="bubble-content bubble-facebook" ng-switch-when="Facebook"><facebook-bubble info="item"></facebook-bubble></div>
                <div class="bubble-content bubble-twitter" ng-switch-when="Twitter"><twitter-bubble info="item"></twitter-bubble></div>
                <div class="bubble-content bubble-googleplus" ng-switch-when="GooglePlus"><googleplus-bubble info="item"></googleplus-bubble></div>
            </div>
        </div>
        <div class="bubble-container action-buttons col-sm-3 col-sm-offset-2 col-md-offset-0 col-xs-offset-1 col-xs-12">
            <a type="button" class="row btn btn-default button-glass" ui-sref="eb.home">App Home</a>
            <a type="button" class="row btn btn-default button-glass" ui-sref="eb.past-projects">Past Projects</a>
        </div>
    </div>

    <div class="row footer">
        <div class="col-xs-1">
            <p>
                Site Map<br>
                <a ui-sref="eb.home">Home</a><br>
                <a ui-sref="eb.past-projects">Past Projects</a><br>
            </p>
        </div>
         <div class="col-xs-11">
            <p>
                Erika Burdon. 2015. All Rights Reserved.<br><br>
                This page was built using <a href="http://getbootstrap.com/css/" target="_blank">Bootstrap Grid Framework</a> in a minimalist style. The GitHub bubble data was determined with two promises - one HTTP request to get the data from GitHub API, the second to manipulate the data the way it needed to be displayed.
            </p>
        </div>
    </div>
</div>
