<!-- Page built with bootstrap grid framework -->
<div class="connect-page container-fluid">
    <div class="row header">
        <div class="connect-title">CONTACT ME</div>
        <div class="col-md-offset-4 connect-image"></div>
    </div>

    <div class="row content-divider"></div>

    <div class="row bubble-row">
        <div class="bubble-container col-sm-3" ng-repeat="item in firstRow">
            <div class="bubble-item" ng-switch="item.network">
                <div ng-switch-when="Email"><email-bubble></email-bubble></div>
                <div ng-switch-when="GitHub"><github-bubble></github-bubble></div>
                <div ng-switch-when="LinkedIn"><linkedin-bubble></linkedin-bubble></div>
                <div ng-switch-when="SoundCloud"><soundcloud-bubble></soundcloud-bubble></div>
            </div>
        </div>
    </div>

    <div class="row bubble-row">
        <div class="bubble-container col-sm-3" ng-repeat="item in secondRow">
            <div class="bubble-item" ng-switch="item.network">
                <div ng-switch-when="Facebook"><facebook-bubble></facebook-bubble></div>
                <div ng-switch-when="Twitter"><twitter-bubble></twitter-bubble></div>
                <div ng-switch-when="GooglePlus"><googleplus-bubble></googleplus-bubble></div>
            </div>
        </div>
    </div>

    <div class="row footer">
        Footer
    </div>

</div>
