<div class="jumbotron">
    <h1>Hola!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        I've scaffolded my App with Yeoman
    </p>
    <p>
        <a class="btn btn-lg btn-success" ng-href="#/">Splendid!</a>
    </p>
</div>

<div class="row marketing">
    <h4>Erika, what is this??</h4>
    <p>
        This is me slowly getting my app running on my personal domain using Amazon Web Services. My tech stack (this version, at least) is <b> yo, grunt, and bower</b>.
    </p>
    <p>
        I'm working on this site as much as I can, as fast as I can. Here's my game plan:
        <ul>
            <li>Get my SSL certificate working <b>... done!</b> (are you visiting via HTTPS:// ?) </li>
            <li>Get a dummy app built <b>... done!</b></li>
            <li>Get the app uploaded and hosted on S3 <b>... done!</b></li>
            <li>Create the first version of my personal page by using Foundations</li>
            <li>Create and add information to a database</li>
            <li>Create a back end API (python?) so APP can get database info and display</li>
            <li>Tweak!</li>
        </ul>
    </p>
    <p>
        If you have any tips, suggestions, or criticisms, or questions, feel free to email me at
        <a href="mailto:erika@erikaburdon.ca">erika@erikaburdon.ca</a>
    </p>

</div>
